<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Result</title>
</head>
<body>
    <h1>Bank List</h1>
    <p><strong>Bank:</strong> <span th:text="${BankingDetailsStorage.bank}"></span></p>
    <p><strong>Card Number:</strong> <span th:text="${BankingDetailsStorage.cardNumber}"></span></p>
    <p><strong>Expiry Date:</strong> <span th:text="${BankingDetailsStorage.expiryDate}"></span></p>
    <a href="/">Add New Bank Details</a>
</body>
</html>